<% content_for :page_classes, "in-game conversation-page" %>

<div id="player-banner">
  <div>
    <div>
      <%= link_to @from.host? ? game_path(@game) : player_path(@from) do %>
        <%= image_tag "back.png", id: "nav", class: @from.any_unread? ? "notification" : "" %>
      <% end %>
    </div>
    <div id="conversation-people">
      <%= @conversation.players.pluck(:number).join(", ") %><br>
    </div>
  </div>
  <div id="right">
    <%= link_to "LEAVE", edit_player_path(@from) %>
  </div>
</div>

<div id="messages">
  <% @messages.each do |msg| %>
    <%= render partial: "messages/show", locals: {message: msg, current_player: @from, time: distance_of_time_in_words(@game.start_time, msg.created_at)} %>
  <% end %>
  <% if @conversation.game.state == "end" %>
    <div class='message system'>
      <div class='message-contents'>
        - SYSTEM OFFLINE -
      </div>
    </div>
  <% end %>
</div>

<div id="submit-form">
  <%= form_with url: '#', html: {id: 'new-message'} do |f| %>
    <%= f.text_field :contents, id: "message-body", rows: 2, autocomplete: "off" %>
    <%= f.submit "SEND", id: "message-submit" %>
  <% end %>
</div>

<script>
  conversationPage(<%= @from.id %>, <%= @conversation.id %>, <%= @conversation.last_order_num %>)
</script>