<% content_for :page_classes, "in-game conversation-page" %>

<div id="player-banner">
  <%= link_to @from.host ? game_path(@from.game) : player_path(@from) do %>
    <div id="nav" <% if @from.any_unread? %>class="notification"<% end %> ><-</div>
  <% end %>
  <div>
    <%= @conversation.players.pluck(:number).join(", ") %><br>
  </div>
</div>

<div id="messages">
  <% @conversation.messages.each do |msg| %>
    <%= render partial: "messages/show", locals: {message: msg, current_player: @from} %>
  <% end %>
</div>

<div id="submit-form">
  <%= form_with url: '#', html: {id: 'new-message'} do |f| %>
    <%= f.text_area :contents, id: "message-body", rows: 2 %>
    <%= f.submit "SEND", id: "message-submit" %>
  <% end %>
</div>

<script>
  conversationPage(<%= @from.id %>, <%= @conversation.id %>)
</script>