<div id="title">
  <h1>AS WE KNOW IT</h1>
  <div class="centered">
    by Alex McConnaughey
  </div>
</div>

<div id="login">
  <%= form_for @player do |f| %>
    <%= f.label :code, "Game Code" %><br>
    <%= f.text_field :code %><br/><br/>
    <%= f.submit "Join Existing Game" %>
  <% end %>
  <br>
  (<%= link_to "Click here", players_login_path %> to rejoin a game already in progress)
  <br/>
  <br/>
  <br/>
  <br/>
  <%= form_for @game do |f| %>
    <%= f.submit "Create a New Game" %>
  <% end %>
</div>

<!-- 
<div id="info">

</div>

<script>
  var w = $(window);
  $("#info").html(w.width() + ", " + w.height());
</script> -->