<h1>AS WE KNOW IT</h1>
<div class="centered">
  by Alex McConnaughey<br>
  developed by Alexa Kirchner
</div>
<br/>
<br/>
<br/>

<div class="centered">
  <%= form_for @game do |f| %>
    <%= f.submit "create a new game" %>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <%= form_for @player do |f| %>
    <%= f.label :code, "Game Code" %> <%= f.text_field :code %><br/><br/>
    <%= f.submit "join a game" %>
  <% end %>
</div>