<h1>AS WE KNOW IT</h1>

<%= form_for @game do |f| %>
  <%= f.submit "Create a Game" %>
<% end %>
<br/>
<%= form_for @player do |f| %>
  <%= f.label :code, "Game Code" %> <%= f.text_field :code %><br/>
  <%= f.submit "Join a Game" %>
<% end %>