<% content_for :page_classes, "in-game" %>

<div id="game-page">
  <div id="game-info">
    <strong>Game Code</strong>: <%= @game.code %><br>
    <strong>Game State</strong>: <%= @game.state %><br>
    <% if @game.state == "running" %>
      <strong>Time Elapsed:</strong> <span id="clock">00:00:00</span>
    <% end %>
    <% if @game.state != "end" %>
      <%= form_for @game do |f| %>
        <%= f.hidden_field :state, value: @game.state == "before" ? "running" : "end" %>
        <%= f.submit @game.state == "before" ? "Start Game" : "End Game" %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div>
    <h3>Player List</h3>
    Click on a player to start a conversation with them.
    <ul id="player-list">
      <% @game.players.each do |player| %>
        <% if player.host? %>
          <li><%= player.number %> (HOST)</li>
        <% else %>
          <li><%= link_to player.number, conversations_path(players: [player.id, @host.id]), method: :post %> <% if player.left? %>(LEFT)<% end %> </li>
        <% end %>
      <% end %>
      <% if @game.players.count == 5 && @game.state == "before" %>
        There are four players online and the game may begin.
      <% end %>
    </ul>
  </div>

  <br/>
  <h2>Host Conversations(<%= @host.number %>)</h2>
  <%= render partial: "players/conversation_list", locals: {player: @host, conversations: @host.conversations, use_from: false} %>

  <h2>HRN Conversations</h2>
  <%= render partial: "players/conversation_list", locals: {player: @hrn, conversations: @hrn.conversations.eager_load(:games).where(games: {id: @game.id}), use_from: true} %>
</div>

<script>
  playerPage(<%= @host.id %>);
  playerPage(<%= @hrn.id %>);
  hostChannel(<%= @game.id %>, null);
  <% if @game.state == "running" %>
    clock(<%= @game.start_time.utc.to_i * 1000 %>);
  <% end %>
</script>